<!DOCTYPE html>
<html>
	<!-- HTML template source: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_interior_design&stacked=h -->
	<html lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

	<style>
		body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
		body {font-size:16px;}
		.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
		.w3-half img:hover{opacity:1}
		table, th, td{border: 1px solid black;}
	</style>


    <body>
		<!-- Sidebar/menu -->
		<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
			<a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
			<div class="w3-container">
			<h3 class="w3-padding-64"><b>Air Ticket ✈ </b><br>Reservation</b></h3>
			</div>
			<div class="w3-bar-block">
			<a href="/home" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
			<a href="/register" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Register</a> 
			<a href="/rate" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Rate Your Experience</a> 
            <a href="/view_flights" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">View flights</a> 
            <a href="/search_flights" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Search Flights</a> 
            </br></br></br></br></br></br></br></br>
			<a href="/login" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Login</a> 
			<a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Logout</a> 
			</div>
		</nav>

		<!-- PAGE CONTENT! -->
		<div class="w3-main" style="margin-left:340px;margin-right:40px">

			<!-- Header -->
			<div class="w3-container" style="margin-top:80px" id="showcase">
                <h1 class="w3-jumbo"><b>Purchase flights</b></h1>
                <h1 class="w3-xxxlarge w3-text-red"><b>Put your card details</b></h1>
                <hr style="width:50px;border:5px solid red" class="w3-round">
			</div>

            <!-- <script> 
                var queryString = decodeURIComponent(window.location.search); //parsing 
                queryString = queryString.substring(1); 
                var queries = queryString.split("&"); 
                for (var i = 0; i < queries.length; i++) { 
                    document.write(queries[i] + "<br>"); 
                } 
            </script>  -->

            <form action="/purchase_result" method="POST">
                <select name = "card_type">
                    <option value="credit"> Credit </option>
                    <option value="debit"> Debit </option>
                </select> </br></br>
                <input type="text" name = "card_num" placeholder="Card number" required/> </br>
                <input type="text" name = "name" placeholder="Name on card" required/></br>
                <input type="text" name = "exp" placeholder="Expiration date" required/></br></br>
                <input type="hidden" name="flight" value="{{flight}}"/> </br>
                <input type="hidden" name="flight2" value="{{flight2}}"/> </br>
                <input type="hidden" name="check" value="{{check}}"/> </br>
                <input type="submit" value = Purchase />
                {% if error %}
                    <p class="error"><strong>Error:</strong> {{error}}</p>
                {% endif %}
            </form>

            <!-- <p class="message">Here are your upcoming flights:</p>
            <table>
                <th>Flight No.</th>
                <th>Airline</th>
                <th>Departure airport</th>
                <th>Departure date</th>
                <th>Departure time</th>
                <th>Arrival airport</th>
                <th>Arrival date</th>
                <th>Arrival time</th>

            {% for line in data %}
                <tr>
                    <td>{{line['flight_number']}}</td>
                    <td>{{line['airline_name']}}</td>
                    <td>{{line['departure_airport_code']}}</td>
                    <td>{{line['departure_date']}}</td>
                    <td>{{line['departure_time']}}</td>
                    <td>{{line['arrival_airport_code']}}</td>
                    <td>{{line['arrival_date']}}</td>
                    <td>{{line['arrival_time']}}</td>
                </tr>
            {% endfor %}
            </table> -->
        </div>
    </body>
</html>