<html>
<head>
</head>
<body>
<form action="/login" method="POST">
    <select name = "user_type">
        <option value="customer"> Customer </option>
        <option value="staff"> Staff </option>
    </select> </br>
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="submit" value = Login />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Return</a>

</body>


</html>
